<app-overlay *ngIf="showRegister$ | async" (click)="overlayClick()"></app-overlay>
<div class="register-container">
  <app-escape></app-escape>
  <h2>Register</h2>
  <form>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" id="email" name="username" placeholder="Enter your email">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="Enter your username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Enter your password">
    </div>
    <div class="form-group">
      <label for="confirm-password">Repeat Password</label>
      <input type="password" id="confirm-password" name="password" placeholder="Re-enter your password">
    </div>
    <button type="submit">Register</button>
  </form>
</div>
