<header class="header not-logged-in">
  <div class="logo">JobPulse</div>
  <nav>
    <ul>
      <li><a href="#">Browse Projects</a></li>
      <ng-container *ngIf="!user">
        <li><button (click)="toggleLogin()">Login</button></li>
        <li><button (click)="toggleRegister()">Register</button></li>
      </ng-container>
      <ng-container *ngIf="!user">
        <li><users-profile-dropdown></users-profile-dropdown></li>
      </ng-container>
    </ul>
  </nav>
</header>
<app-overlay *ngIf="(showRegister$ | async) || (showLogin$ | async)" (click)="overlayClick()"></app-overlay>
<users-login *ngIf="showLogin$ | async"></users-login>
<users-register *ngIf="showRegister$ | async"></users-register>
