<header class="header not-logged-in">
  <a routerLink="/" class="logo">JobPulse</a>
  <nav>
    <ul class="nav-ul">
      <li><a routerLink="/" class="nav-item">Projects</a></li>
      <ng-container *ngIf="!user">
        <li><a class="nav-item" (click)="toggleLogin()">Login</a></li>
        <li><a class="nav-item" (click)="toggleRegister()">Register</a></li>
      </ng-container>
      <ng-container *ngIf="!user">
        <li><app-profile-dropdown class="nav-item"></app-profile-dropdown></li>
      </ng-container>
    </ul>
  </nav>
</header>
<app-login *ngIf="showLogin$ | async"></app-login>
<app-register *ngIf="showRegister$ | async"></app-register>
