.header {
  padding: 20px;
  background-color: #4caf50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header ul li {
  display: inline-block;
  margin-right: 10px;
}

.header ul li a {
  text-decoration: none;
  color: #fff;
}

.btn-auth {
  padding: 10px 20px;
  background-color: #23527c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-auth:hover {
  background-color: #17324d;
}

li {
  display: inline-block;
  margin-right: 10px;
}
