<header class="header bg-blue-900 sticky shadow py-6 flex justify-center text-white" [class.sticky]="isHeaderSticky">
  <div class="flex flex-row max-w-7xl w-full justify-between">
    <a routerLink="/" class="text-2xl font-bold">JobPulse</a>
    <nav class="flex space-x-4 items-center">
      <a routerLink="/" class="hover:text-gray-900 transition-colors duration-200">Browse</a>
      <ng-container class="flex items-center" *ngIf="!user">
        <a class="cursor-pointer hover:text-gray-900 transition-colors duration-200" (click)="toggleLogin()">Login</a>
        <a class="cursor-pointer py-1 px-4 border border-white rounded transition-colors duration-200 hover:bg-gray-800" (click)="toggleRegister()">Become a freelancer</a>
      </ng-container>
      <ng-container *ngIf="user">
        <app-profile-dropdown class="self-end"></app-profile-dropdown>
      </ng-container>
    </nav>
  </div>
</header>
<app-login *ngIf="showLogin$ | async" [isAuthPage]="isAuthPage"></app-login>
<app-register *ngIf="showRegister$ | async" [isAuthPage]="isAuthPage"></app-register>
